beautifulsoup4==4.8.2
blinker==1.4
docutils==0.16
feedgenerator==1.9.1
ghp-import==0.5.5
Jinja2==2.11.1
latexcodec==2.0.0
Markdown==3.1.1
MarkupSafe==1.1.1
minchin.pelican.plugins.image-process==1.2.0
pelican==4.2.0
pelican-advance-embed-tweet==1.1.3
pelican-jsmath==0.1.0
Pillow==7.1.1
pybtex==0.22.2
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
six==1.14.0
smartypants==2.0.1
soupsieve==2.0
typogrify==2.0.7
Unidecode==1.1.1
