<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="Databench is a data analysis tool using Flask, Socket.IO and d3.js with optional parallelization with Redis Queue and visualization with mpld3." name="description"/>
<meta content="summary" name="twitter:card"/>
<meta content="@svenkreiss" name="twitter:site"/>
<meta content="@svenkreiss" name="twitter:creator"/>
<meta content="Databench" name="twitter:title"/>
<meta content="Databench is a data analysis tool using Flask, Socket.IO and d3.js with optional parallelization with Redis Queue and visualization with mpld3." name="twitter:description"/>
<meta content="http://www.svenkreiss.com/images/mpld3pi_demo_noframe.png" name="twitter:image:src"/>
<meta content="svenkreiss.com" name="twitter:domain"/>
<meta content="Databench" property="og:title"/>
<meta content="article" property="og:type"/>
<meta content="Databench is a data analysis tool using Flask, Socket.IO and d3.js with optional parallelization with Redis Queue and visualization with mpld3." property="og:description"/>
<meta content="http://www.svenkreiss.com/images/mpld3pi_demo_noframe.png" property="og:image"/>
<meta content="svenkreiss.com" property="og:site_name"/>
<link href="http://www.svenkreiss.com/feeds/all.atom.xml" rel="alternate" title="Sven Kreiss Full Atom Feed" type="application/atom+xml"/>
<title>Databench - Sven Kreiss</title>
<!-- KaTeX -->
<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css" integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD" rel="stylesheet"/>
<script crossorigin="anonymous" integrity="sha384-O4hpKqcplNCe+jLuBVEXC10Rn1QEqAmX98lKAIFBEDxZI0a+6Z2w2n8AEtQbR4CD" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-IiI65aU9ZYub2MY9zhtKd1H2ps7xxf+eb2YFG9lX6uRqpXCvBTOidPRCXCrQ++Uc" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/contrib/auto-render.min.js"></script>
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css"> -->
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="http://www.svenkreiss.com/theme/css/pure.css" rel="stylesheet"/>
<link href="http://www.svenkreiss.com/theme/css/pygments.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- for pelican_dynamic plugin -->
<!-- end pelican_dynamic -->
</head>
<body>
<div class="pure-g-r" id="layout">
<div class="sidebar sidebar-article pure-u">
<header class="header-article">
<a href="http://www.svenkreiss.com/blog/author/sven-kreiss/" title="See posts by Sven Kreiss">
<img alt="Sven Kreiss" class="avatar" src="https://www.gravatar.com/avatar/562a52f3ffcb6c2a3556f91ddc540776?s=140"/>
</a>
<h2 class="article-info">Sven Kreiss</h2>
<p class="article-date">June 03, 2014</p>
<a class="header-article-home" href="/">←Home</a>
</header>
</div>
<div class="pure-u">
<div class="content">
<section class="post">
<header class="post-header">
<h1>Databench</h1>
<p class="post-meta">
                            // under
                                <a class="post-category" href="http://www.svenkreiss.com/blog/tag/flask/">Flask</a>
<a class="post-category" href="http://www.svenkreiss.com/blog/tag/socketio/">Socket.IO</a>
<a class="post-category" href="http://www.svenkreiss.com/blog/tag/javascript/">JavaScript</a>
<a class="post-category" href="http://www.svenkreiss.com/blog/tag/d3js/">d3.js</a>
<a class="post-category" href="http://www.svenkreiss.com/blog/tag/python/">Python</a>
<a class="post-category" href="http://www.svenkreiss.com/blog/tag/matplotlib/">matplotlib</a>
<a class="post-category" href="http://www.svenkreiss.com/blog/tag/mpld3/">mpld3</a>
                            in <a class="post-category" href="http://www.svenkreiss.com/blog/category/tech/">Tech</a>   

                            <span style="display:inline-block;">
                            // share on <a href="https://twitter.com/share?text=%22Databench%22&amp;via=svenkreiss" target="_blank">
<i class="fa fa-twitter fa-lg"></i> Twitter
                            </a>
</span>
</p>
</header>
</section>
<blockquote>
<p>Databench is a data analysis tool using <a href="http://flask.pocoo.org/">Flask</a>, <a href="https://socket.io/">Socket.<span class="caps">IO</span></a> and <a href="https://d3js.org/">d3.js</a> with optional parallelization with <a href="http://python-rq.org/">Redis Queue</a> and visualization with <a href="http://mpld3.github.io/">mpld3</a>. Check out the <a href="http://databench-examples.trivial.io">live demos</a>.</p>
</blockquote>
<p><a href="http://databench-examples.trivial.io"><img alt="matplotlib d3 demo" class="image-process-crisp top" src="/images/derivatives/crisp/1x/mpld3pi_demo_noframe.png" srcset="/images/derivatives/crisp/1x/mpld3pi_demo_noframe.png 1x, /images/derivatives/crisp/2x/mpld3pi_demo_noframe.png 2x, /images/derivatives/crisp/4x/mpld3pi_demo_noframe.png 4x"/></a></p>
<p>Seriously, check out the <a href="http://databench-examples.trivial.io">live demos</a>.</p>
<p>All source codes are available on GitHub:</p>
<ul>
<li><a href="https://github.com/svenkreiss/databench">github.com/svenkreiss/databench</a></li>
<li><a href="https://github.com/svenkreiss/databench_examples">github.com/svenkreiss/databench_examples</a></li>
<li><a href="https://github.com/svenkreiss/databench_examples_viewer">github.com/svenkreiss/databench_examples_viewer</a></li>
</ul>
<h2>Motivation</h2>
<p>I like Python for data analysis. However, the frontends for visualization are poor. <code>d3.js</code> is a great library for JavaScript and the web-browser is a powerful user interface. <code>Databench</code> makes Python communicate with the web frontend with minimal effort.</p>
<p>The frontend can be interactive (real-time communication goes both ways between <code>Python</code> and <code>JavaScript</code>/<code>d3.js</code>) and can contain explanatory text and documentation.</p>
<p>To run Databench, you need to install it with <code>pip</code>:</p>
<div class="highlight"><pre><span></span>pip install git+https://github.com/svenkreiss/databench.git
</pre></div>
<p>(preferably inside a <code>virtualenv</code>). Then you create an <code>analyses</code> folder, run <code>databench</code> on the command line</p>
<div class="highlight"><pre><span></span><span class="o">(</span>venv<span class="o">)</span>analysisfolder$ databench
Registering analysis simplepi as blueprint in flask.
Registering analysis slowpi as blueprint in flask.
Registering analysis mpld3pi as blueprint in flask.
Registering analysis mpld3PointLabel as blueprint in flask.
Registering analysis mpld3Drag as blueprint in flask.
Connecting socket.io to simplepi.
Connecting socket.io to slowpi.
Connecting socket.io to mpld3pi.
Connecting socket.io to mpld3PointLabel.
Connecting socket.io to mpld3Drag.
--- databench ---
 * Running on http://0.0.0.0:5000/
 * Restarting with reloader
Registering analysis simplepi as blueprint in flask.
Registering analysis slowpi as blueprint in flask.
Registering analysis mpld3pi as blueprint in flask.
Registering analysis mpld3PointLabel as blueprint in flask.
Registering analysis mpld3Drag as blueprint in flask.
Connecting socket.io to simplepi.
Connecting socket.io to slowpi.
Connecting socket.io to mpld3pi.
Connecting socket.io to mpld3PointLabel.
Connecting socket.io to mpld3Drag.
--- databench ---
</pre></div>
<p>and point your web-browser to <code>http://localhost:5000/</code>.</p>
<h2>Example Analysis: <code>simplepi</code></h2>
<p>Create a project-folder with this structure:</p>
<div class="highlight"><pre><span></span><span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">analyses</span>
    <span class="l l-Scalar l-Scalar-Plain">- templates</span>
        <span class="l l-Scalar l-Scalar-Plain">- simplepi.html</span>
    <span class="l l-Scalar l-Scalar-Plain">- __init__.py</span>
    <span class="l l-Scalar l-Scalar-Plain">- simplepi.py</span>
</pre></div>
<p>On the command line, all that is necessary is to run <code>databench</code> and the url (usually <code>http://localhost:5000</code>) will be shown that you can open in a web browser.</p>
<p>This is the backend in <code>simplepi.py</code> <em>(updated June 10, 2014)</em>:</p>
<div class="highlight"><pre><span></span><span class="sd">"""Calculating \\(\\pi\\) the simple way."""</span>

<span class="kn">import</span> <span class="nn">math</span>
<span class="kn">from</span> <span class="nn">time</span> <span class="kn">import</span> <span class="n">sleep</span>
<span class="kn">from</span> <span class="nn">random</span> <span class="kn">import</span> <span class="n">random</span>

<span class="kn">import</span> <span class="nn">databench</span>


<span class="n">simplepi</span> <span class="o">=</span> <span class="n">databench</span><span class="o">.</span><span class="n">Analysis</span><span class="p">(</span><span class="s1">'simplepi'</span><span class="p">,</span> <span class="vm">__name__</span><span class="p">)</span>
<span class="n">simplepi</span><span class="o">.</span><span class="n">description</span> <span class="o">=</span> <span class="vm">__doc__</span>
<span class="n">simplepi</span><span class="o">.</span><span class="n">thumbnail</span> <span class="o">=</span> <span class="s1">'simplepi.png'</span>

<span class="nd"><a href="https://twitter.com/simplepi">@simplepi</a>.signals.on</span><span class="p">(</span><span class="s1">'connect'</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">onconnect</span><span class="p">():</span>
    <span class="sd">"""Run as soon as a browser connects to this."""</span>

    <span class="n">inside</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">10000</span><span class="p">):</span>
        <span class="n">sleep</span><span class="p">(</span><span class="mf">0.001</span><span class="p">)</span>
        <span class="n">r1</span> <span class="o">=</span> <span class="n">random</span><span class="p">()</span>
        <span class="n">r2</span> <span class="o">=</span> <span class="n">random</span><span class="p">()</span>
        <span class="k">if</span> <span class="n">r1</span><span class="o">*</span><span class="n">r1</span> <span class="o">+</span> <span class="n">r2</span><span class="o">*</span><span class="n">r2</span> <span class="o">&lt;</span> <span class="mf">1.0</span><span class="p">:</span>
            <span class="n">inside</span> <span class="o">+=</span> <span class="mi">1</span>

        <span class="k">if</span> <span class="p">(</span><span class="n">i</span><span class="o">+</span><span class="mi">1</span><span class="p">)</span><span class="o">%</span><span class="mi">100</span> <span class="o">==</span> <span class="mi">0</span><span class="p">:</span>
            <span class="n">draws</span> <span class="o">=</span> <span class="n">i</span><span class="o">+</span><span class="mi">1</span>
            <span class="n">simplepi</span><span class="o">.</span><span class="n">signals</span><span class="o">.</span><span class="n">emit</span><span class="p">(</span><span class="s1">'log'</span><span class="p">,</span> <span class="p">{</span><span class="s1">'draws'</span><span class="p">:</span><span class="n">draws</span><span class="p">,</span> <span class="s1">'inside'</span><span class="p">:</span><span class="n">inside</span><span class="p">})</span>

            <span class="n">p</span> <span class="o">=</span> <span class="nb">float</span><span class="p">(</span><span class="n">inside</span><span class="p">)</span><span class="o">/</span><span class="n">draws</span>
            <span class="n">uncertainty</span> <span class="o">=</span> <span class="mf">4.0</span><span class="o">*</span><span class="n">math</span><span class="o">.</span><span class="n">sqrt</span><span class="p">(</span><span class="n">draws</span><span class="o">*</span><span class="n">p</span><span class="o">*</span><span class="p">(</span><span class="mf">1.0</span> <span class="o">-</span> <span class="n">p</span><span class="p">))</span> <span class="o">/</span> <span class="n">draws</span>
            <span class="n">simplepi</span><span class="o">.</span><span class="n">signals</span><span class="o">.</span><span class="n">emit</span><span class="p">(</span><span class="s1">'status'</span><span class="p">,</span> <span class="p">{</span>
                <span class="s1">'pi-estimate'</span><span class="p">:</span> <span class="mf">4.0</span><span class="o">*</span><span class="n">inside</span><span class="o">/</span><span class="n">draws</span><span class="p">,</span>
                <span class="s1">'pi-uncertainty'</span><span class="p">:</span> <span class="n">uncertainty</span>
            <span class="p">})</span>

    <span class="n">simplepi</span><span class="o">.</span><span class="n">signals</span><span class="o">.</span><span class="n">emit</span><span class="p">(</span><span class="s1">'log'</span><span class="p">,</span> <span class="p">{</span><span class="s1">'action'</span><span class="p">:</span> <span class="s1">'done'</span><span class="p">})</span>
</pre></div>
<p>The analysis waits for the <code>connect</code> signal and then starts an analysis. It provides the frontend with live updates through <code>signals.emit()</code> where some of the <code>emit()</code> messages are for the <code>log</code> window and some are <code>status</code> updates.</p>
<p>The frontend now has to listen to the signals that are emitted by the backend and act on them. The frontend <code>simplepi.html</code> is a <code>jinja2</code> template with math rendered with <a href="https://www.mathjax.org/">MathJax</a> using <code>\( ... \)</code> for inline math and <code>$$ ... $$</code> for display math <em>(updated June 10, 2014)</em>:</p>
<div class="highlight"><pre><span></span>{% extends "base.html" %}


{% block title %}simplepi{% endblock %}


{% block content %}
<span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>
    simplepi
    <span class="p">&lt;</span><span class="nt">small</span><span class="p">&gt;&lt;</span><span class="nt">i</span><span class="p">&gt;</span>π = <span class="p">&lt;</span><span class="nt">span</span> <span class="na">id</span><span class="o">=</span><span class="s">"pi"</span><span class="p">&gt;</span>0.0 ± 1.0<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;&lt;/</span><span class="nt">i</span><span class="p">&gt;&lt;/</span><span class="nt">small</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>This little demo uses two random numbers \(r_1\) and \(r_2\) and
then does a comparison $$r_1^2 + r_2^2 <span class="ni">&amp;le;</span> 1.0$$ to figure out whether
the generated point is inside the first quadrant of the unit circle.<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">pre</span> <span class="na">id</span><span class="o">=</span><span class="s">"log"</span><span class="p">&gt;&lt;/</span><span class="nt">pre</span><span class="p">&gt;</span>
{% endblock %}


{% block footerscripts %}
<span class="p">&lt;</span><span class="nt">script</span><span class="p">&gt;</span>
    <span class="kd">var</span> <span class="nx">databench</span> <span class="o">=</span> <span class="nx">Databench</span><span class="p">(</span><span class="s1">'simplepi'</span><span class="p">);</span>
    <span class="nx">databench</span><span class="p">.</span><span class="nx">genericElements</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">$</span><span class="p">(</span><span class="s1">'#log'</span><span class="p">));</span>

    <span class="nx">databench</span><span class="p">.</span><span class="nx">signals</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s1">'status'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">msg</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">$</span><span class="p">(</span><span class="s1">'#pi'</span><span class="p">).</span><span class="nx">text</span><span class="p">(</span>
            <span class="nx">msg</span><span class="p">[</span><span class="s1">'pi-estimate'</span><span class="p">].</span><span class="nx">toFixed</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span><span class="o">+</span><span class="s1">' ± '</span><span class="o">+</span>
            <span class="nx">msg</span><span class="p">[</span><span class="s1">'pi-uncertainty'</span><span class="p">].</span><span class="nx">toFixed</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
        <span class="p">);</span>
    <span class="p">});</span>
<span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
{% endblock %}
</pre></div>
<p>You may want to extend the Databench <code>base</code> template giving you the header and footer and some standard libraries, but you can also write your own. The <code>block content</code> is the <span class="caps">HTML</span> part of the frontend with fields for the results and an explanation about the algorithm. The <code>block footerscripts</code> provides the frontend logic. It wires the <code>log</code> signals to the <code>#log</code> field with <code>databench.genericElements.log($('#log'))</code>. It also starts listening for <code>status</code> signals. When a <code>status</code> signal is received, it executes the callback function where <code>msg</code> contains a <span class="caps">JSON</span> representation of the dictionary that the backend sent when emitting <code>status</code>.</p>
<p>And last, to make Databench aware of this analysis, add it to the <code>__init__.py</code>:</p>
<div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">simplepi</span>
</pre></div>
<p>This is all that is necessary to create an analysis in Databench. Now you can run <code>databench</code> in the project-folder and visit <code>http://localhost:5000</code> to run and see the output of the analysis.</p>
<h2>Plotting with <code>matplotlib</code></h2>
<p>If you like Python, but are not too familiar with <code>d3.js</code>, you can use <a href="http://mpld3.github.io/">mpld3</a> to embed your python plots on the web. The <code>mpld3</code> website has a nice gallery of examples that should all work in Databench. Two of them — one with a standard plugin and one with a custom plugin — are <code>mpld3PointLabel</code> and <code>mpld3Drag</code> which are both included in the <a href="http://databench-examples.trivial.io">live demos</a> and the <a href="https://github.com/svenkreiss/databench_examples">databench_examples</a> repository.</p>
<h2>Parallelization</h2>
<p>Examples with parallel processing cannot be included in the <a href="http://databench-examples.trivial.io">live demos</a> but are included in the <a href="https://github.com/svenkreiss/databench_examples">databench_examples</a> repository.</p>
<p>The <code>slowpi</code> example contains a demo-implementation of using <a href="">Redis Queue</a> for parallelization. The parallelization is fully implemented on the analysis-side without Databench knowing about it. Other parallelization techniques like <a href="http://www.celeryproject.org/">Celery</a> and <a href="http://www.rabbitmq.com/">RabbitMQ</a> are probably working but are not tested yet.</p><script charset="utf-8" src="//platform.twitter.com/widgets.js"></script>
<div class="hr"></div>
<h2>Related Posts</h2>
<ul class="related-posts">
<li>
<a class="title" href="http://www.svenkreiss.com/blog/databench-v04/">Databench v0.4</a>
<span class="date">from September 22, 2016</span>
<span class="summary">New release of Databench that switches the backend from Flask to Tornado, fully supports Python 2 and 3, transpiles ES6 to legacy JavaScript and runs unit tests and coverage on every commit.</span>
</li>
<li>
<a class="title" href="http://www.svenkreiss.com/blog/dvds-js-v0.1.0/">dvds-js version 0.1.0</a>
<span class="date">from April 25, 2014</span>
<span class="summary">Distributed Versioned Data Structures in JavaScript. Like git in js.</span>
</li>
<li>
<a class="title" href="http://www.svenkreiss.com/blog/morph-demo/">morphDemo</a>
<span class="date">from March 06, 2014</span>
<span class="summary">Demo of a new horizontal morphing algorithm.</span>
</li>
<li>
<a class="title" href="http://www.svenkreiss.com/blog/pelican-jsmath/">pelican-jsmath Plugin</a>
<span class="date">from February 10, 2018</span>
<span class="summary">An \(\alpha\omega\epsilon s \sigma m \epsilon\) Pelican plugin to render math in JavaScript libraries like KaTeX.</span>
</li>
<li>
<a class="title" href="http://www.svenkreiss.com/blog/streamprocessing-in-pysparkling/">Stream Processing in pysparkling</a>
<span class="date">from March 11, 2017</span>
<span class="summary">Support for stream processing with discrete streams.</span>
</li>
</ul>
<a class="go-top" href="#">Go Top</a>
<footer class="footer">
<p>© Sven Kreiss 2014 – 2018.<br/>
    This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a>.</p>
</footer> </div>
</div>
</div>
<script>
        renderMathInElement(document.body);

        var $top = $('.go-top');

        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 200) {
                // $top.fadeIn(200);
                $top.addClass('go-top-visible');
            } else {
                // $top.fadeOut(200);
                $top.removeClass('go-top-visible');
            }
        });

        // Animate the scroll to top
        $top.click(function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 300);
        })

        // Makes sure that the href="#" attached to the <a> elements
        // don't scroll you back up the page.
        $('body').on('click', 'a[href="#"]', function(event) {
            event.preventDefault();
        });
    </script>
<!-- for pelican_dynamic plugin -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4070485-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>